
.educationList {
    text-align: left;
    margin-top: 40px;
    position: relative;
    margin-left: -35px;
}
.educationList:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 5px;
    height: 5px;
    background: #00C8AA;
    border: 1px solid #00C8AA;
    border-radius: 50%;
    z-index: 2;
}
.educationListItem {
    font-size: 13px;
    list-style: none;
}
.educationItem h1 {
    font-size: 13px;
    margin-top: 20px;
}
.educationItem h1 span {
    font-size: 13px;
    font-weight: 350;
}
.educationItem p{
    margin-top: -5px;
    font-size: 14px;
    margin-bottom: -25px;
}

.icons {
    display: none;
}

.deleteIcon {
    color: red;
    margin-right: 10px;
}
.editIcon {
    color: green;
}

.educationListItem:hover  .icons {
    display: flex;
    justify-content: right;
    margin-left: 30px;
    display: flex;
    margin-top: -45px;
    
}

@media (max-width: 600px){
    .educationListItem {
        font-size: 11px;
    }
    .educationItem h1 {
        font-size: 11px;
    }
    .educationItem h1 span {
        font-size: 11px;
    }
}