.authForm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    height: 550px;
}
.homeLeft {
    margin-right: 40px;
    margin-top: -50px;
}
.homeLeft h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.homeLeft h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.homeLeft p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.auth {
    background-color: white;
    width: 400px;
    padding: 10px 50px;
    box-shadow: 4px 4px 13px 3px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.auth h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.signButton {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 7px 0;
    border-radius: 5px;
    border: none;
    background-color: #00C8AA;
    color: white;
    font-size: 1.25rem;
    
}

.signButton:hover {
    background-color: #00af94;
}

.switchButton {
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    border: none;
    background-color: white;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .auth {
        margin-left: 160px;
    }
}